<% wrap_layout :inner do %>
    <% content_for :sidebar do %>
        <div class="docs-sidebar hidden-print affix-top" role="complementary">
            <ul class="nav docs-sidenav">
                <li<%= sidebar_current("docs-home") %>>
                    <a href="/docs/providers/index.html">All Providers</a>
                </li>
                <li<%= sidebar_current("docs-hyperv-index") %>>
                    <a href="/docs/providers/hyperv/index.html">HyperV Provider</a>
                </li>
                <li<%= sidebar_current("docs-hyperv-resource-network") %>>
                <a href="#">Network Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-hyperv-resource-network-switch") %>>
                            <a href="/docs/providers/hyperv/r/hyperv_network_switch.html">hyperv_network_switch</a>
                        </li>
                    </ul>
                </li>
                <li<%= sidebar_current("docs-hyperv-resource-machine") %>>
                <a href="#">Machine Resources</a>
                    <ul class="nav nav-visible">
                        <li<%= sidebar_current("docs-hyperv-resource-machine-instance") %>>
                            <a href="/docs/providers/hyperv/r/hyperv_machine_instance.html">hyperv_machine_instance</a>
                        </li>
                    </ul>
                </li>                
            </ul>
        </div>
    <% end %>

    <%= yield %>
<% end %>
